#home-layout {
    display: flex;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    min-height: 100vh;

    ul {
        max-height: 700px;
        overflow-y: auto;
        padding-right: 8px;
        margin: 0;
        list-style: none;
        border: 1px solid #444;
        border-radius: 10px;
    }

    li {
        margin: 10px;
        &:hover {
            cursor: pointer;
        }
    }

    #map-side {
        flex: 1;
    }

    #map-buttons {
        display: flex;
        margin-top: 10px;
        gap: 20px;
    }

    #map {
        margin-right: 250px;
    }

    #vehicle-list,
    #map-side {
        padding: 16px;
        width: 350px;
    }
}

#vehicle-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    background-color: #222;
    color: #fff;
    padding: 16px;
    border-left: 1px solid #444;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    min-height: 100vh;
    margin: 0;

    h3 {
        margin-top: 0;
        font-size: 18px;
    }

    img {
        max-width: 100%;
        margin-top: 8px;
        border-radius: 8px;
    }

    button {
        margin-top: 12px;
    }

    #buttons {
        display: flex;
        gap: 8px;
    }
}